html {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body {
  line-height: 1.5;
}

.header {
  margin-bottom: 40px;
}
.header>.title {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  margin-right: 20px;
}
.header>.fork-button {
  margin-bottom: -8px;
}

.post {
  margin-bottom: 40px;
}

.post-title {
  display: inline-block;
  margin-right: 16px;
  font-size: 2rem;
  line-height: 1;
}
.post-title>a {
  color: #000;
}

.post-body {
  font-family: Georgia, serif;
  font-size: 1rem;
  margin-bottom: 30px;
}
.post-body:not(.active)>*  {
  display: none;
}
.post-body:not(.active)>:first-child  {
  display: block;
  opacity: 0.4;
  transition: opacity .2s;
}
.post-body:not(.active)>:first-child:hover  {
  opacity: 0.8;
  cursor: pointer;
}
.post-body:not(.active)>:first-child:after {
  display: block;
  content: "Show full article...";
  opacity: 0.4;
  margin-top: 1rem;
}

.post-meta-categories {
  display: inline-block;
  color: #ffffff;
}
.post-meta-category {
  vertical-align: top;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: .75rem;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.post-meta-date {
  font-size: .75rem;
  color: #9E9E9E;
  margin-top: 4px;
  margin-bottom: 20px;
}

.post-comments {}
.post-comment {
  margin-bottom: 30px;
}
.post-comment-author {
  margin-right: 8px;
}
.post-comment-date {
  font-size: .75rem;
  color: #9E9E9E;
}
.post-comment-body {
  margin-top: 8px;
}
.post-comment-body>:first-child {
  margin-top: 0;
  margin-bottom: 0;
}
