html {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body {
  line-height: 1.5;
}

pre {
  background: #fafafa;
  border: 1px solid #efefef;
}

form {
  margin-top: 20px;
}

input {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px;
  margin-left: 0;
  margin-bottom: 8px;
  border: 1px solid #efefef;
  border-radius: 4px;
  outline: 0;
}

input[type=submit] {
  background: #efefef;
  color: #757575;
  font-weight: bold;
}
input[type=submit]:hover {
  cursor: pointer;
}

.header {
  margin-bottom: 30px;
}

.header>h1 {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: normal;
  margin-right: 10px;
}

.header>blockquote {
  display: inline-block;
  font-size: .9rem;
}

.progress {
  margin-top: 8px;
}

.progress>div {
  padding: 2px 0;
}

.progress-success::before {
  content: '\2713';
  display: inline-block;
  width: 1rem;
  color: #4CAF50;
}
.progress-error::before {
  content: '\2717';
  display: inline-block;
  width: 1rem;
  color: #F44336;
}

.post {
  margin-bottom: 20px;
}

.post-title {
  font-size: 1.75rem;
  line-height: 1;
}

.post-title>a {
  margin-right: 8px;
  color: #000;
}

.post-body {
  font-family: Georgia, serif;
  font-size: 1rem;
}

.post-meta-categories {
  display: inline-block;
  color: #ffffff;
}

.post-meta-category {
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: .75rem;
}

.post-meta-date {
  font-size: .75rem;
  color: #9E9E9E;
  margin-bottom: 20px;
}

.post-comments {
  padding-top: 20px;
}

.post-comment {
  margin-bottom: 15px;
}

.post-comment-author {
  color: #9E9E9E;
  margin-bottom: 4px;
}

.post-comment-author>a {
  margin-right: 8px;
}

.post-comment-date {
  font-size: .75rem;
  color: #9E9E9E;
}

.post-comment-body {
  display: inline-block;
  padding: 2px 10px;
  background: #fafafa;
  border-radius: 0 4px 4px 4px;
  color: #757575;
}
